<DOCTYPE! html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>Shout!</title>
  </head>
  <body>
    記事のIDは<%= @id %>です
    <h1>うおおおおおおおおおおお</h1>
    <h1>ああああああああああああああああああああ</h1>
    私が使っているブログサービスは<%= @blog_name %>です
    <ul>
      <% 100.times do |i| %>
      <li><%= i %>番目です</li>
      <% end %>
    </ul>
  </body>
</html>
